[
{columbo, [
	%% Cluster's master nodes
	{master_nodes, []},
	%% UDP broadcast port
	{udp_port, 38077},
	%% Broadcast interface
	{interface, "*"}
	]},
{oblivion, [
	%% Oblivion's http port
	{oblivion_http_port, 12522},
	%% Oblivion's persistence file 
	{oblivion_persistence_file, "etc/persistence.conf"}
	]}
].
