.navbar .navbar-brand {
	max-height: 40px;
	overflow: visible;
	padding-top: 5px;
}

body {
	padding-top: 50px;
}

.panel .list-group-item {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.list-group-item .btn{
	padding-top: 3px;
	padding-bottom: 3px;
}